@use "../variable/padding";
@use "../variable/colors";
@use "../variable/cardPadding";
@use "../variable/button";
@use "../variable/mixins";

header {
    @include mixins.flex(column, flex-start, center);
    margin-top: 30px;

    .textContainer {
        @include mixins.flex(column, center, flex-start);
        padding: 0 padding.$LRmobile;

        h1 {
            font-size: 26px;
        }
        
        .description {
            font-size: 13px;
            margin: 15px 0 30px 0;
            text-align: justify;
            word-wrap: break-word;
            overflow-wrap: break-word;
            @include mixins.hyphen(auto);
        }
    }

    .imageContent {
        display: none;
    }

    .imageMobile {
        display: block;
    }
}

main {
    padding: 60px padding.$LRmobile;
    clip-path: polygon(0 0, 100% 2%, 100% 100%, 0 98%);

    h2 {
        font-size: 25px;
    }

    .line {
        margin-bottom: 30px;

        .firstLine {
            @include mixins.widthAndHeight(30%, auto);
            margin-bottom: 8px;
        }
    }

    .separateur {
        margin: 50px 0;
        
        .losange1, .losange5 {
            @include mixins.widthAndHeight(8px,8px);
        }
        
        .losange2, .losange4 {
            @include mixins.widthAndHeight(13px,13px);
        }
        
        .losange3 {
            @include mixins.widthAndHeight(17px,17px);
        }
    }

    .newsContent {
        h3 {
            font-size: 20px;
        }

        .cardContainer {
            flex-wrap: nowrap;
            overflow: auto;
            margin: 12px 0 25px 0;
            padding-bottom: 10px;

            .card {
                @include mixins.widthAndHeight(300px, 400px);
                flex-shrink: 0;

                .title {
                    padding: cardPadding.$TBmobile cardPadding.$LRmobile 20px cardPadding.$LRmobile;
                    font-size: 16px;
                }

                .contentCourses {
                    margin-top: 10px;
                    padding: cardPadding.$TBmobile cardPadding.$LRmobile;
                    font-size: 13px;

                    li {
                        margin-bottom: 5px;
                    }

                    .readMore {
                        @include button.whiteButton(button.$TBtablet, button.$LRtablet, white, colors.$turquoise);
                        margin-top: 20px !important;
                    }
                }
            }
        }
    }
}

footer {
    padding: 50px padding.$LRmobile 80px padding.$LRmobile;

    h1 {
        font-size: 27px;
        margin-bottom: 10px;
    }

    .line {
        margin-bottom: 40px;

        .firstLine {
            @include mixins.widthAndHeight(30%, auto);
            margin-bottom: 8px;
        }
    }

    .icon {
        @include mixins.widthAndHeight(200px, auto);

        img {
            @include mixins.widthAndHeight(35px, auto);
        }
    }
}

@media screen and (max-width: 350px) {
    main {
        padding: 50px 8px;

        .newsContent .cardContainer .card {
            @include mixins.widthAndHeight(264px, 390px);

            .contentCourses .readMore {
                @include button.whiteButton(button.$TBsmallMobile, button.$LRsmallMobile, white, colors.$turquoise);
                margin-top: 20px !important;
            }
        }
    }

    footer {
        padding: 40px padding.$LRsmallMobile 60px padding.$LRsmallMobile;
    
        h1 {
            font-size: 23px;
            margin-bottom: 8px;
        }
    
        .line {
            margin-bottom: 40px;
    
            .firstLine {
                @include mixins.widthAndHeight(30%, auto);
                margin-bottom: 8px;
            }
        }
    
        .icon {
            @include mixins.widthAndHeight(150px, auto);
    
            img {
                @include mixins.widthAndHeight(30px, auto);
            }
        }
    }
}
