@use "../variable/padding";
@use "../variable/colors";
@use "../variable/cardPadding";
@use "../variable/button";
@use "../variable/mixins";

body {
    overflow-x: hidden;
}

header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "text img";
    margin-bottom: 2vh;

    .textContainer {
        grid-area: text;
        @include mixins.flex(column, center, flex-start);
        color: white;
        padding: 0 padding.$LRdesktop;

        h1 {
            font-size: 60px;
            color: colors.$lightBlue;
        }

        .math {
            color: colors.$orange;
        }

        .description {
            font-size: 23px;
            margin-top: 30px;
        }
    }

    .imageContent {
        grid-area: "img";
        @include mixins.flex(row, center, center);

        img {
            @include mixins.widthAndHeight(auto, 90%);
        }
    }

    .imageMobile {
        display: none;
    }
}

main {
    @include mixins.widthAndHeight(100%, auto);
    background-color: white;
    padding: 140px padding.$LRdesktop;
    clip-path: polygon(0 4%, 100% 0, 100% 96%, 0 100%);

    h2 {
        text-align: center;
        font-size: 60px;
    }

    .line {
        @include mixins.widthAndHeight(100%, auto);
        @include mixins.flex(column, flex-start, center);
        margin-bottom: 70px;
    
        .firstLine {
            @include mixins.widthAndHeight(20%, auto);
            border: 1px solid colors.$turquoise;
            margin-bottom: 10px;
        }
    
        .secondLine {
            @include mixins.widthAndHeight(10%, auto);
            border: 1px solid colors.$turquoise;
        }
    }

    .newsContent {
        h3 {
            font-size: 35px;
        }

        .cardContainer {
            @include mixins.flex(row, flex-start, flex-start);
            margin: 30px 0 60px 0;

            .card {
                @include mixins.widthAndHeight(33.33%, 600px);
                @include mixins.flex(column, flex-start, flex-start);
                @include mixins.borderRadius(20px);
                background-color: colors.$turquoise;

                .title {
                    @include mixins.widthAndHeight(100%, auto);
                    clip-path: polygon(0 70%, 0 0, 100% 0, 100% 70%, 50% 100%);
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                    text-align: center;
                    background-color: colors.$darkBlue;
                    padding: cardPadding.$TBdesktop cardPadding.$LRdesktop 40px cardPadding.$LRdesktop;
                    color: colors.$lightBlue;
                    font-size: 23px;
                }

                .contentCourses {
                    @include mixins.flex(column, space-between, flex-start);
                    @include mixins.widthAndHeight(100%, 100%);
                    padding: cardPadding.$TBdesktop cardPadding.$LRdesktop;
                    font-size: 20px;

                    .contentList {
                        @include mixins.widthAndHeight(100%, 100%);
                        @include mixins.flex(column, space-around, flex-start);
                        
                        li {
                            list-style-type: none;
                            color: colors.$lightBlue;
                            margin-bottom: 10px;
                            text-align: justify;
                            word-wrap: break-word;
                            overflow-wrap: break-word;
                            @include mixins.hyphen(auto);
                        }
                    }

                    .readMore {
                        margin-top: 40px !important;
                        @include button.whiteButton(button.$TBdesktop, button.$LRdesktop, white, colors.$turquoise);
                    }
                }
            }

            .card2 {
                margin: 0 15px;
            }
        }

    }

    .separateur {
        @include mixins.widthAndHeight(100%, 100%);
        @include mixins.flex(row, center, center);
        margin: 50px 0;

        div {
            @include mixins.transform(rotateZ(45deg));
            background-color: colors.$darkBlue;
        }
        
        .losange2, .losange4 {
            background-color: colors.$blueLink;
        }
        
        .losange1, .losange5 {
            @include mixins.widthAndHeight(10px,10px);
            z-index: -2;
        }
        
        .losange2, .losange4 {
            @include mixins.widthAndHeight(15px,15px);
            z-index: -1;
        }
        
        .losange3 {
            @include mixins.widthAndHeight(20px,20px);
        }
    }
}

footer {
    @include mixins.widthAndHeight(100%, 100%);
    @include mixins.flex(column, center, center);
    padding: 50px padding.$LRdesktop 100px padding.$LRdesktop;

    h1 {
        font-size: 50px;
        color: colors.$lightBlue;
        margin-bottom: 15px;
    }

    .line {
        @include mixins.widthAndHeight(100%, auto);
        @include mixins.flex(column, flex-start, center);
        margin-bottom: 70px;
    
        .firstLine {
            @include mixins.widthAndHeight(20%, auto);
            border: 1px solid white;
            margin-bottom: 10px;
        }
    
        .secondLine {
            @include mixins.widthAndHeight(10%, auto);
            border: 1px solid white;
        }
    }

    .icon {
        @include mixins.widthAndHeight(400px, auto);
        @include mixins.flex(row, space-between, center);

        img {
            @include mixins.widthAndHeight(60px, auto);
        }
    }
}