// Left, right, top, bottom margin for the card according to the used devices
// LR for left right padding
// TB for top bottom padding

$LRdesktop: 20px; 
$LRlaptop: 15px;
$LRtablet: 10px;
$LRsmallMobile: 7px;