// Colors used everywhere for the web site

$almostBlack: rgb(0, 10, 20);
$darkBlue: rgb(0, 20, 40);
$turquoise: #2b7270;
$lightBlue: #DAF3FF;
$orange: #DF9F1F;
$blueLink: #7ac4c7;

// Colors used for the articles 
$lightGray: #CACDD2;
$coldGray: #979FA7;
$darkGray: #334353;

$cardTitle: rgb(60, 75, 95);
$cardContent: rgb(90, 110, 130);

$navBar: rgb(40, 50, 70);
