// Left, right, top, bottom padding for the nav bar according to the used devices
// LR for left right padding
// TB for top bottom padding

$TPdesktop: 35px;

$TPlaptop: 20px;

$TPtablet: 20px;

$TPmobile: 10px;